{{/* define "main" */}}
  {{/* .Content */}}
{{/* end */}}

{{ define "main" }}
    <article>
        {{/* Global top spacing config (overridable) */}}
        {{ $disableTopSpacing := .Params.disableTopSpacing }}
        {{ $topSpacingClasses := "py-5 py-lg-8" }}
        {{ with .Site.Params.topSpacingClasses }}{{ $topSpacingClasses = . }}{{ end }}
        {{ with .Params.topSpacingClasses }}{{ $topSpacingClasses = . }}{{ end }}

        <div class="content">
            {{ $content := .Content }}
            <!-- Automatically replace asset URLs to make theme assets work-->
            <!-- Regex for assets/..-->
            {{ $content = replaceRE `href="\./assets/` (printf `href="%sassets/` (absURL "")) $content }}
            {{ $content = replaceRE `src="\./assets/` (printf `src="%sassets/` (absURL "")) $content }}
            {{ $content = replaceRE `href="\./blog/` (printf `href="%blog-flinker/` (absURL "")) $content }}
            {{ $content = replaceRE `url\(\s*\/assets/` (printf `url(%sassets/` (absURL "")) $content }}
            {{ $content = replaceRE `src="\.?[\/\\]assets[\/\\]` (printf `src="%sassets/` (absURL "")) $content }}


            <!-- Regex for assets-flinker/..-->
            {{ $content = replaceRE `href="\./assets-flinker/` (printf `href="%sassets-flinker/` (absURL "")) $content }}
            {{ $content = replaceRE `src="\./assets-flinker/` (printf `src="%sassets-flinker/` (absURL "")) $content }}
            {{ $content = replaceRE `href="\./blog-flinker/` (printf `href="%blog-flinker/` (absURL "")) $content }}
            {{ $content = replaceRE `url\(\s*\/assets-flinker/` (printf `url(%sassets-flinker/` (absURL "")) $content }}
            {{ $content = replaceRE `src="\.?[\/\\]assets-flinker[\/\\]` (printf `src="%sassets-flinker/` (absURL "")) $content }}

            {{ $content = replaceRE "url\\(\\s*\\.\\/assets-flinker/" (printf "url(%sassets-flinker/" (absURL "")) $content }}
            {{ $content = replaceRE "src=\"\\.\\/assets-flinker/" (printf "src=\"%sassets-flinker/" (absURL "")) $content }}

                        {{ $content = replaceRE `href="\./(.*?\.html)"` (printf `href="%s$1"` (absURL "")) $content }}

                        {{ if not $disableTopSpacing }}
                            <div class="{{ $topSpacingClasses }}">
                                {{ $content | safeHTML }}
                            </div>
                        {{ else }}
                            {{ $content | safeHTML }}
                        {{ end }}


        </div>
    </article>
{{ end }}