<!-- CTA -->
<section>
<div class="container py-7">
   <div class="row row line-pattern bg-primary rounded-3 py-7 g-0">
   <div class="col-md-8 offset-md-2">
      <div class="text-center position-relative z-1 py-5">
         <h2 class="text-white-stable mb-5">Interested in IFC workflows within M365?</h2>
         <a href="https://outlook.office365.com/book/SupportConsultingonlinemeeting@flinker.app/?ismsaljsauthenabled=true" class="btn btn-dark">Contact Sales</a>
      </div>
   </div>
   </div>
</div>
</section>