<footer class="pt-7">
   <div class="container">
      <!-- Footer 4 column -->
      <div class="row">
         <div class="col-lg-9 col-12">
            <div class="row" id="ft-links">
               <div class="col-lg-3 col-12">
                  <div>
                     <div class="mb-3 pb-2 d-flex justify-content-between border-bottom border-bottom-lg-0">
                        <h4>Products</h4>
                        <a class="d-block d-lg-none text-body" data-bs-toggle="collapse" href="#collapseLanding"
                           role="button" aria-expanded="false" aria-controls="collapseLanding">
                           <i class="bi bi-chevron-down"></i>
                        </a>
                     </div>
                     <div class="collapse d-lg-block" id="collapseLanding" data-bs-parent="#ft-links">
                        <ul class="list-unstyled mb-0 py-3 py-lg-0">
                           <li class="mb-2">
                              <a href="https://appsource.microsoft.com/en-us/product/office/WA200007197?tab=Overview" class="text-decoration-none text-reset">SharePoint CDE</a>
                           </li>
                           <li class="mb-2">
                              <a href="https://appsource.microsoft.com/en-us/product/office/WA200007412?tab=Overview" class="text-decoration-none text-reset">Open IFC Viewer</a>
                           </li>
                           <li class="mb-2">
                              <a href="https://appsource.microsoft.com/en-us/product/office/WA200007412?tab=Overview" class="text-decoration-none text-reset">Open BCF Manager</a>
                           </li>
                           <li class="mb-2">
                              <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/flinkergmbh1644589155747.ifc-viewer?tab=Overview" class="text-decoration-none text-reset">Power BI IFC Visual</a>
                           </li>
                           <li class="mb-2">
                              <a href="{{ "index.html" | absURL }}" class="text-decoration-none text-reset">SharePoint Document Manager</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-12">
                  <div>
                     <div
                        class="mb-3 pb-2 d-flex justify-content-between border-bottom border-bottom-lg-0 position-relative">
                        <h4>Community</h4>
                        <a class="d-block d-lg-none text-body" data-bs-toggle="collapse" href="#collapseAccounts"
                           role="button" aria-expanded="false" aria-controls="collapseAccounts">
                           <i class="bi bi-chevron-down"></i>
                        </a>
                     </div>
                     <div class="collapse d-lg-block" id="collapseAccounts" data-bs-parent="#ft-links">
                        <ul class="list-unstyled mb-0 py-3 py-lg-0">
                           <li class="mb-2">
                              <a href="https://docs.flinker.app/" class="text-decoration-none text-reset">Documentation</a>
                           </li>
                           <li class="mb-2">
                              <a href="https://docs.flinker.app/" class="text-decoration-none text-reset">Changelog</a>
                           </li>
                           <li class="mb-2">
                              <a href="https://github.com/flinker-app/docsfx/discussions" class="text-decoration-none text-reset">Discussions</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-12">
                  <div
                     class="mb-3 pb-2 d-flex justify-content-between border-bottom border-bottom-lg-0 position-relative">
                     <h4>Industry</h4>
                     <a class="d-block d-lg-none text-body" data-bs-toggle="collapse" href="#collapseResources"
                        role="button" aria-expanded="false" aria-controls="collapseResources">
                        <i class="bi bi-chevron-down"></i>
                     </a>
                  </div>
                  <div class="collapse d-lg-block" id="collapseResources" data-bs-parent="#ft-links">
                     <ul class="list-unstyled mb-0 py-3 py-lg-0">
                        <li class="mb-2">
                           <a href="{{ "index.html" | absURL }}" class="text-decoration-none text-reset">Property management</a>
                        </li>
                        <li class="mb-2">
                           <a href="#!" class="text-decoration-none text-reset">Real estate development</a>
                        </li>
                        <li class="mb-2">
                           <a href="{{ "index.html" | absURL }}" class="text-decoration-none text-reset">Project management</a>
                        </li>
                        <li class="mb-2">
                           <a href="{{ "index.html" | absURL }}" class="text-decoration-none text-reset">Construction</a>
                        </li>
                        <li class="mb-2">
                           <a href="{{ "index.html" | absURL }}" class="text-decoration-none text-reset">Engineering</a>
                        </li>
                        <li class="mb-2">
                           <a href="{{ "index.html" | absURL }}" class="text-decoration-none text-reset">Architecture</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-12">
                  <div
                     class="mb-3 pb-2 d-flex justify-content-between border-bottom border-bottom-lg-0 position-relative">
                     <h4>Company</h4>
                     <a class="d-block d-lg-none text-body" data-bs-toggle="collapse" href="#collapseLocations"
                        role="button" aria-expanded="false" aria-controls="collapseLocations">
                        <i class="bi bi-chevron-down"></i>
                     </a>
                  </div>
                  <div class="collapse d-lg-block" id="collapseLocations" data-bs-parent="#ft-links">
                     <ul class="list-unstyled mb-0 py-3 py-lg-0">
                        <li class="mb-2">
                           <a href="{{ "about/" | absURL }}" class="text-decoration-none text-reset">About us</a>
                        </li>
                        <li class="mb-2">
                           <a href="{{ "https://join.com/companies/flinker" | absURL }}" class="text-decoration-none text-reset">Careers</a>
                           <span class="badge text-bg-success ms-2">Hiring!</span>
                        </li>
                        <li class="mb-2">
                           <a href="{{ "https://outlook.office365.com/book/SupportConsultingonlinemeeting@flinker.app/" | absURL }}" class="text-decoration-none text-reset">Contact us</a>
                        </li>
                        <li class="mb-2">
                           <a href="{{ "privacy/" | absURL }}" class="text-decoration-none text-reset">Privacy Policy</a>
                        </li>
                        <li class="mb-2">
                           <a href="{{ "terms/" | absURL }}" class="text-decoration-none text-reset">Terms & conditions</a>
                        </li>
                        <li class="mb-2">
                           <a href="{{ "imprint/" | absURL }}" class="text-decoration-none text-reset">Imprint</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3 col-12">
            <div class="me-7">
               <h4 class="mb-4">Headquarters</h4>
               <div class="text-body-secondary">
                  <p>
                     Flinker GmbH, Zittelstreet 7,
                     <br />
                     80796 Munich, Germany
                  </p>
                  <span>+49 89 26204274</span><br />
                  <a href="mailto:info@flinker.app">info@flinker.app</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container mt-7 pt-lg-7 pb-4">
      <div class="row align-items-center">
         <div class="col-md-3">
            <a class="mb-4 mb-lg-0 d-block text-inverse" href="{{ "index.html" | absURL }}"><img
                  src="{{ "assets-flinker/images/logo.svg" | absURL }}" alt="" /></a>
         </div>
         <div class="col-md-9 col-lg-6">
            <div class="small mb-3 mb-lg-0 text-lg-center">
               Copyright © 2025 Flinker GmbH.
               <span class="text-primary"><a href="{{ "index.html" | absURL }}">All rights reserved.</a></span>
            </div>
         </div>
         <div class="col-md-3">
            <div class="text-md-end d-flex align-items-center justify-content-md-end">
               <div class="dropdown">
                  <button class="btn btn-light btn-icon rounded-circle d-flex align-items-center" type="button"
                     aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
                     <i class="bi theme-icon-active lh-1"></i>
                     <span class="visually-hidden bs-theme-text">Toggle theme</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bs-theme-text">
                     <li>
                        <button type="button" class="dropdown-item d-flex align-items-center"
                           data-bs-theme-value="light" aria-pressed="false">
                           <i class="bi theme-icon bi-sun-fill"></i>
                           <span class="ms-2">Light</span>
                        </button>
                     </li>
                     <li>
                        <button type="button" class="dropdown-item d-flex align-items-center"
                           data-bs-theme-value="dark" aria-pressed="true">
                           <i class="bi theme-icon bi-moon-stars-fill"></i>
                           <span class="ms-2">Dark</span>
                        </button>
                     </li>
                     <li>
                        <button type="button" class="dropdown-item d-flex align-items-center active"
                           data-bs-theme-value="auto" aria-pressed="false">
                           <i class="bi theme-icon bi-circle-half"></i>
                           <span class="ms-2">Auto</span>
                        </button>
                     </li>
                  </ul>
               </div>
               <div class="ms-3 d-flex gap-2">
                   <a href="https://www.linkedin.com/company/flinker-app/" class="btn btn-linkedin btn-light btn-icon" target="_blank">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path
                        d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
                     </svg>
                  </a>
                  <a href="https://github.com/flinker-app/docsfx/discussions" class="btn btn-github btn-icon" target="_blank">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-github" viewBox="0 0 16 16">
                        <path
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                     </svg>
                  </a>
                  <a href="#!" class="btn btn-youtube btn-icon" target="_blank">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-youtube" viewBox="0 0 16 16">
                        <path
                           d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"/>
                     </svg>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
