<!--Case study start-->
<section class="py-xl-9 py-5 bg-gray-900">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 offset-lg-2 col-12">
            <div class="text-center mb-xl-7 mb-5">
               <small class="text-uppercase ls-md fw-semibold text-primary">Case study</small>
               <h2 class="my-3 text-white-stable">Explore Success Stories</h2>
               <p class="mb-0 text-body">Explore Success Stories: Real-World Impact through Our Customer Case Studies</p>
            </div>
         </div>
      </div>
      <div
         class="swiper-container swiper"
         id="swiper-1"
         data-pagination-type=""
         data-speed="400"
         data-space-between="100"
         data-pagination="false"
         data-navigation="true"
         data-autoplay="true"
         data-autoplay-delay="3000"
         data-breakpoints='{"480": {"slidesPerView": 1}, "768": {"slidesPerView": 1}, "1024": {"slidesPerView": 2}, "1200": {"slidesPerView": 3}}'>
         <div class="swiper-wrapper pb-lg-8 pb-6 pt-1">
            <div class="swiper-slide">
               <div class="card border-0 h-100 card-lift">
                  <a href="#!"><img src="../assets/images/landings/it-company/it-company-case-study-1.jpg" alt="about" class="img-fluid rounded-top-3" /></a>
                  <div class="card-body">
                     <div class="d-flex flex-column gap-2">
                        <div>
                           <img src="../assets/images/landings/it-company/casestudy-logo-1.svg" alt="case-study" />
                        </div>
                        <div class="d-flex flex-column gap-4">
                           <h4><a href="#!" class="text-reset">Revolutionizing Healthcare Delivery</a></h4>
                           <a href="#!" class="icon-link icon-link-hover">
                              Read Case Study
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                 <path
                                    fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="swiper-slide">
               <div class="card border-0 h-100 card-lift">
                  <a href="#!"><img src="../assets/images/landings/it-company/it-company-case-study-2.jpg" alt="about" class="img-fluid rounded-top-3" /></a>
                  <div class="card-body">
                     <div class="d-flex flex-column gap-2">
                        <div>
                           <img src="../assets/images/landings/it-company/casestudy-logo-2.svg" alt="case-study" />
                        </div>
                        <div class="d-flex flex-column gap-4">
                           <h4><a href="#!" class="text-reset">Financial Institution Fin-tech Success Story</a></h4>
                           <a href="#!" class="icon-link icon-link-hover">
                              Read Case Study
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                 <path
                                    fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="swiper-slide">
               <div class="card border-0 h-100 card-lift">
                  <a href="#!"><img src="../assets/images/landings/it-company/it-company-case-study-3.jpg" alt="about" class="img-fluid rounded-top-3" /></a>
                  <div class="card-body">
                     <div class="d-flex flex-column gap-2">
                        <div>
                           <img src="../assets/images/landings/it-company/casestudy-logo-3.svg" alt="case-study" />
                        </div>
                        <div class="d-flex flex-column gap-4">
                           <h4><a href="#!" class="text-reset">Digital Educational Learning Innovation</a></h4>
                           <a href="#!" class="icon-link icon-link-hover">
                              Read Case Study
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                 <path
                                    fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="swiper-slide">
               <div class="card border-0 h-100 card-lift">
                  <a href="#!"><img src="../assets/images/landings/it-company/it-company-case-study-4.jpg" alt="about" class="img-fluid rounded-top-3" /></a>
                  <div class="card-body">
                     <div class="d-flex flex-column gap-2">
                        <div>
                           <img src="../assets/images/landings/it-company/casestudy-logo-4.svg" alt="case-study" />
                        </div>
                        <div class="d-flex flex-column gap-4">
                           <h4><a href="#!" class="text-reset">Revolutionizing Efficiency: How Codescandy Enhanced Operations for Client</a></h4>
                           <a href="#!" class="icon-link icon-link-hover">
                              Read Case Study
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                 <path
                                    fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="swiper-slide">
               <div class="card border-0 h-100 card-lift">
                  <a href="#!"><img src="../assets/images/landings/it-company/it-company-case-study-5.jpg" alt="about" class="img-fluid rounded-top-3" /></a>
                  <div class="card-body">
                     <div class="d-flex flex-column gap-2">
                        <div>
                           <img src="../assets/images/landings/it-company/casestudy-logo-5.svg" alt="case-study" />
                        </div>
                        <div class="d-flex flex-column gap-4">
                           <h4><a href="#!" class="text-reset">From Challenge to Triumph: The [Client Name] Success Story</a></h4>
                           <a href="#!" class="icon-link icon-link-hover">
                              Read Case Study
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                 <path
                                    fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="swiper-slide">
               <div class="card border-0 h-100 card-lift">
                  <a href="#!"><img src="../assets/images/landings/it-company/it-company-case-study-6.jpg" alt="about" class="img-fluid rounded-top-3" /></a>
                  <div class="card-body">
                     <div class="d-flex flex-column gap-2">
                        <div>
                           <img src="../assets/images/landings/it-company/casestudy-logo-6.svg" alt="case-study" />
                        </div>
                        <div class="d-flex flex-column gap-4">
                           <h4><a href="#!" class="text-reset">A Deep Dive into [Client Name]'s Digital Transformation Journey</a></h4>
                           <a href="#!" class="icon-link icon-link-hover">
                              Read Case Study
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                 <path
                                    fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Add more slides as needed -->
         </div>
         <!-- Add Pagination -->
         <div class="swiper-pagination"></div>
         <!-- Add Navigation -->
         <div class="swiper-navigation position-absolute bottom-0 mb-5 start-lg-50">
            <div class="swiper-button-prev me-7"></div>
            <div class="swiper-button-next ms-7"></div>
         </div>
      </div>
   </div>
</section>
<!--Case study end-->