<!-- security section -->
<section class="py-xl-9 py-6" data-cue="fadeIn" data-show="true"
   style="animation-name: fadeIn; animation-duration: 600ms; animation-timing-function: ease; animation-delay: 0ms; animation-direction: normal; animation-fill-mode: both;">
   <div class="container">
      <div class="row mb-6">
         <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
            <div class="d-flex flex-column gap-4 text-center">
               <div class="d-flex justify-content-center">
                  <span
                     class="badge bg-white text-muted border border-light-subtle rounded-pill text-uppercase fw-semibold py-2 px-3 small ls-md">Security</span>
               </div>
               <div class="d-flex flex-column gap-2">
                  <h2 class="mb-0 display-6">Your Security is Our Priority</h2>
                  <p class="mb-0">
                     We believe that you should always have complete ownership and control of your data and processing. We deliver
                     app solutions that run self-hosted in your existing Microsoft environment.
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="row gy-lg-6 gy-4">
         <div class="col-lg-4 col-md-6" data-cue="zoomIn" data-show="true"
            style="animation-name: zoomIn; animation-duration: 600ms; animation-timing-function: ease; animation-delay: 0ms; animation-direction: normal; animation-fill-mode: both;">
            <div class="d-flex flex-column gap-5 p-xxl-6 text-center p-3 card card-lift">
               <div><img src="./assets-flinker/images/security/security.svg" alt="security"></div>
               <div class="d-flex flex-column gap-2">
                  <h3 class="h4">Enterprise-Ready Security</h3>
                  <p class="mb-0">Because your data remains in your own Microsoft tenant, you benefit from the full
                     suite of Microsoft’s security controls.</p>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6" data-cue="zoomIn" data-show="true"
            style="animation-name: zoomIn; animation-duration: 600ms; animation-timing-function: ease; animation-delay: 200ms; animation-direction: normal; animation-fill-mode: both;">
            <div class="d-flex flex-column gap-5 p-xxl-6 text-center p-3 card card-lift">
               <div><img src="./assets-flinker/images/security/privacy.svg" alt="privacy"></div>
               <div class="d-flex flex-column gap-2">
                  <h3 class="h4">Your Data, Your AI-Power</h3>
                  <p class="mb-0">You decide who has access and how data is shared. There’s no secondary platform to
                     worry about or data uploads needed.</p>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6" data-cue="zoomIn" data-show="true"
            style="animation-name: zoomIn; animation-duration: 600ms; animation-timing-function: ease; animation-delay: 400ms; animation-direction: normal; animation-fill-mode: both;">
            <div class="d-flex flex-column gap-5 p-xxl-6 text-center p-3 card card-lift">
               <div><img src="./assets-flinker/images/security/authentication.svg" alt="authentication"></div>
               <div class="d-flex flex-column gap-2">
                  <h3 class="h4">Self-Hosting, SSO and MFA</h3>
                  <p class="mb-0">Reduce external IT dependencies. Strengthen your data’s security with Microsoft’s SSO and MFA tools.
                     </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- security section end-->