<title>{{ .Title }} | {{ .Site.Title }}</title>
<meta name="description" content="{{ .Params.description }}">
<meta name="keywords" content="{{ .Params.keywords }}">
<meta name="author" content="{{ .Site.Author.name }}">

<!-- Open Graph / LinkedIn -->
<meta property="og:type" content="website">
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}">
<meta property="og:description" content="{{ .Description }}">
<meta property="og:image" content="{{ .Params.linkedinImage }}">
<meta property="og:url" content="{{ .Permalink }}">

<!-- YouTube -->
<meta name="youtube:channel" content="{{ .Site.Params.youtubeChannel }}">

<!-- GitHub -->
<meta name="github:repository" content="{{ .Site.Params.githubRepo }}">

<!-- Canonical URL -->
<!-- The canonical URL helps to prevent duplicate content issues by specifying the preferred version of a webpage -->
<link rel="canonical" href="{{ .Permalink }}">