<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

      <!-- Favicon icon-->
      <link rel="apple-touch-icon" sizes="180x180" href="{{ "assets-flinker/images/favicon/apple-touch-icon.png" | absURL }}">
      <link rel="icon" type="image/png" sizes="32x32" href="{{ "assets-flinker/images/favicon/favicon-32x32.png" | absURL }}">
      <link rel="icon" type="image/png" sizes="16x16" href="{{ "assets-flinker/images/favicon/favicon-16x16.png" | absURL }}">
      <link rel="manifest" href="{{ "assets-flinker/images/favicon/site.webmanifest" | absURL }}">
      <link rel="mask-icon" href="{{ "assets-flinker/images/favicon/block-safari-pinned-tab.svg" | absURL }}" color="#007bff">
      <link rel="shortcut icon" href="{{ "assets-flinker/images/favicon/favicon.ico" | absURL }}">
      <meta name="msapplication-TileColor" content="#007bff">
      <meta name="msapplication-config" content="{{ "assets-flinker/images/favicon/tile.xml" | absURL }}">

      <!-- Color modes -->
      <script src="{{ "assets/js/vendors/color-modes.js" | absURL }}"></script>

      <!-- Libs CSS -->
      <link href="{{ "assets/libs/simplebar/dist/simplebar.min.css" | absURL }}" rel="stylesheet">
      <link href="{{ "assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" | absURL }}" rel="stylesheet">

      <!-- Scroll Cue -->
      <link rel="stylesheet" href="{{ "assets/libs/scrollcue/scrollCue.css" | absURL }}">

      <!-- Box icons -->
      <link rel="stylesheet" href="{{ "assets/fonts/css/boxicons.min.css" | absURL }}">

      <!-- Theme CSS -->
      <link rel="stylesheet" href="{{ "assets/css/theme.min.css" | absURL }}">

      <title>Page Not Found | Flinker</title>
   </head>
   <body>
      <main class="w-100">
         <div class="container d-flex flex-column overflow-hidden">
            <div class="row align-items-center justify-content-center min-vh-100 text-center">
               <div class="col-lg-6 col-12">
                  <!-- Flinker Logo -->
                  <div class="mb-5">
                     <a href="{{ "/" | absURL }}">
                        <img src="{{ "assets-flinker/images/logo.svg" | absURL }}" alt="Flinker" height="36">
                     </a>
                  </div>

                  <div class="position-relative mb-7">
                     <div class="position-relative z-n1">
                        <img src="{{ "assets/images/error/404-flinker.svg" | absURL }}" alt="404" class="img-fluid" />
                     </div>
                  </div>

                  <h2>Oops page not found</h2>
                  <p>The page you are looking for is not available.</p>

                  <a href="{{ "/" | absURL }}" class="btn btn-primary">Go back to home</a>
               </div>
            </div>
         </div>
      </main>

      <!-- Libs JS -->
      <script src="{{ "assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js" | absURL }}"></script>
      <script src="{{ "assets/libs/simplebar/dist/simplebar.min.js" | absURL }}"></script>
      <script src="{{ "assets/libs/headhesive/dist/headhesive.min.js" | absURL }}"></script>

      <!-- Theme JS -->
      <script src="{{ "assets/js/theme.min.js" | absURL }}"></script>
   </body>
</html>
