{{/*
  Wrapper shortcode to render the customer-logos partial from content.
  Usage: {{< customer-logos >}}, {{< customer-logos title="false" >}},
         or {{< customer-logos headline="Trusted by authorities worldwide" >}}
*/}}
{{ $showTitle := true }}
{{ $headline := "" }}
{{ if eq (.Get "title") "false" }}
  {{ $showTitle = false }}
{{ end }}
{{ with .Get "headline" }}
  {{ $headline = . }}
{{ end }}
{{ partial "customer-logos.html" (dict "showTitle" $showTitle "headline" $headline "siteParams" .Site.Params) }}
